language: python
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.a
# command to install dependencies
install:
  - pip install .
# command to run tests
# script: pytest
